---
layout: default
---

<div class="teaserimage">

</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    &nbsp;&nbsp;·&nbsp;&nbsp;
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
    </div>
            &nbsp;&nbsp;·&nbsp;&nbsp;
    <div class="custom-links">
      <a href={{ site.data.pages.about-me.url }}>{{site.data.pages.about-me.title}} |</a>
      <a href={{ site.data.pages.projects.url }}>{{site.data.pages.projects.title}} |</a>
      <a href={{ site.data.pages.media-coverage.url }}>{{site.data.pages.media-coverage.title}} |</a>
      <a href={{ site.data.pages.blog.url }}>{{site.data.pages.blog.title}} |</a>
      <a href={{ site.data.pages.awards.url }}>{{site.data.pages.awards.title}} |</a>
    </div>
</header>
