---
layout: default
---
<div class="teaserimage">
</div>
<header class="blog-header">
   {% if site.logo %}
   <a class="blog-logo" href="{{site.url}}{{site.baseurl}}"
      style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
   {% endif %}
   <h1 class="blog-title">{{ site.title }}</h1>
   &nbsp;&nbsp;·&nbsp;&nbsp;
   <div class="custom-links">
      {% for social in site.social %}
      {% if social.url %}
      <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"
         {% endif %}">
         <i class="fa fa-{{ social.icon }}"></i>
      </a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
      {% endfor %}
   </div>
   &nbsp;&nbsp;·&nbsp;&nbsp;
   <div class="custom-links">
      <a href={{ site.data.pages.about-me.url }}>{{site.data.pages.about-me.title}} |</a>
      <a href={{ site.data.pages.projects.url }}>{{site.data.pages.projects.title}} |</a>
      <a href={{ site.data.pages.media-coverage.url }}>{{site.data.pages.media-coverage.title}} |</a>
      <a href={{ site.data.pages.blog.url }}>{{site.data.pages.blog.title}} |</a>
      <a href={{ site.data.pages.awards.url }}>{{site.data.pages.awards.title}} |</a>
      <a href={{ site.data.pages.professional.url }}>{{site.data.pages.professional.title}} </a>
   </div>
   <div>
      <h3 style="text-align:center;">
         Who am I ?
      </h3>
      <p>
         Even I don't know who I am till now. But from being rusticated @ grade 6 to getting Full ride scholarship at
         Northeastern University to being depressed and suicide attempt to being a software engineer currently at
         Apple's iPhone team; life has been amazing. Check 'About me' for long answer :)
      </p>
      <hr>
   </div>
   <div>
      <h3 style="text-align:center;">
         Latest News
      </h3>
      <p>
         <li> Started loan program to help Nepalese student pay rent <a
               href="https://docs.google.com/spreadsheets/d/1QON2UE_8lE49l_xr3_MhrbnZLwPTlehD7RbHXazgN2U">affected by
               covid-19</a></li>
         <li> Started teaching free python course for 1800 Nepalese <a
               href="https://www.youtube.com/watch?v=nCcML8RwRcQ">through krinjal learning</a></li>
         <li> came out in public with my past depression and suicidal stuff <a
               href="https://www.youtube.com/watch?v=nCcML8RwRcQ">through video</a></li>
         <li> paid school fees of 33 poor kids in Nepal <a href="https://www.setopati.com/social/197928">setopati
               interview</a></li>

         <li> started campaign <a href="https://kshitijlohani.com/visitnepal2020">maauchuhai challenge for Visit Nepal
               2020</a></li>
         <li> in news <a href="https://www.khasokhas.com/91579">'एप्पलका इन्जिनियर नेपाली युवा अमेरिकामा विश्वका युवा
               सहभागी सम्मेलनमा विशेष वक्ता'</a></li>
         <li> published article <a href="http://www.mysansar.com/2019/02/34977/">'अमेरिकामा नेपाली भाडा मात्रै माँझ्छन्
               त ?'</a></li>
         <li> launched first episode of<a href="https://kshitijlohani.com/shikshya-dikshya/"> Shikshya-Dikshya</a></li>
      </p>
      <hr>
   </div>
</header>